### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
total_players = 0
purchase_frame = pd.DataFrame(purchase_data)

* Display the total number of players

In [2]:

total_players = purchase_frame['SN'].count()
print(f'Total Players with Purchases in Heros of Pymoli: {total_players}')

Total Players with Purchases in Heros of Pymoli: 780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
num_item_unique = len(purchase_frame['Item Name'].unique())
avg_price = (purchase_frame['Price'].sum() / len(purchase_frame)).round(2)
total_revenue = purchase_frame['Price'].sum()

gender = purchase_frame['Gender'].value_counts()
gender_m = gender['Male']
gender_f = gender['Female']
other = gender['Other / Non-Disclosed']
purchase_frame.head()
med_age = purchase_frame['Age'].median()

summary_df = pd.DataFrame(
    {'Total Players/Purchases':[total_players],
    'Unique Items': [num_item_unique],
    'Average Price': [avg_price],
    'Total Revenue': [total_revenue],
    'Male': gender_m,
    'Female': gender_f,
    'Other / Non-Disclosed Gender': other,
    'Median Age': med_age})
summary_df

,Total Players/Purchases,Unique Items,Average Price,Total Revenue,Male,Female,Other / Non-Disclosed Gender,Median Age
0,780,179,3.05,2379.77,652,113,15,22.0

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_df = pd.DataFrame({
    'Gender': ['male', 'Female', 'Other / non'],
    'Sum': [gender_m, gender_f, other],
    'Percentage':[100*(gender_m / total_players).round(3), 100*(gender_f / total_players).round(3), 
                  100*(other / total_players).round(3)]
    
})
gender_df

        Gender  Sum  Percentage
0         male  652        83.6
1       Female  113        14.5
2  Other / non   15         1.9


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# sorts male data 
male_sort = purchase_frame.Gender == 'Male'
male_sort_df = purchase_frame[male_sort]
#Identifies purchase totals and averages for male players
male_pur_count = male_sort_df['SN'].count()
male_avg_pur = ((male_sort_df['Price'].sum()) / len(male_sort_df['Price'])).round(2)
sn_male_groupby = pd.DataFrame(male_sort_df.groupby(['SN'])['Price'].sum()).reset_index()
avg_pur_permale = ((sn_male_groupby['Price'].sum()) / len(sn_male_groupby['SN'])).round(2)
tot_male_purval = sn_male_groupby['Price'].sum()

#sorts female data and 
fem_sort = purchase_frame.Gender == 'Female'
fem_sort_df = purchase_frame[fem_sort]
#Identifies purchase totals and averages for female players
fem_pur_count = fem_sort_df['SN'].count()
fem_avg_pur = ((fem_sort_df['Price'].sum()) / len(fem_sort_df['Price'])).round(2)
sn_fem_groupby = pd.DataFrame(fem_sort_df.groupby(['SN'])['Price'].sum()).reset_index()
avg_pur_perfem = ((sn_fem_groupby['Price'].sum()) / len(sn_fem_groupby['SN'])).round(2)
tot_fem_purval = sn_fem_groupby['Price'].sum()

#sorts other data and 
other_sort = purchase_frame.Gender == 'Other / Non-Disclosed'
other_sort_df = purchase_frame[other_sort]
#Identiies purchase totals and averages for other or non disclosed gender.
other_pur_count = other_sort_df['SN'].count()
other_avg_pur = ((other_sort_df['Price'].sum()) / len(other_sort_df['Price'])).round(2)
sn_other_groupby = pd.DataFrame(other_sort_df.groupby(['SN'])['Price'].sum()).reset_index()
avg_pur_perother = ((sn_other_groupby['Price'].sum()) / len(sn_other_groupby['SN'])).round(2)
tot_other_purval = sn_other_groupby['Price'].sum()

#Viewable data frames for sort values. 
#male_df = purchase_frame[male_sort]
#female_df = purchase_frame[female_sort]
#other_df = purchase_frame[other_sort]

sum_age_pur = pd.DataFrame({
    'Gender': ['Male','Female','Other'],
    'Total Purchases': [male_pur_count, fem_pur_count, other_pur_count],
    'Average Purchase': [male_avg_pur, fem_avg_pur, other_avg_pur],
    'Average Purchase/person': [avg_pur_permale, avg_pur_perfem, avg_pur_perother],
    'Total Purchase Value': [tot_male_purval, tot_fem_purval, tot_other_purval]
})
sum_age_pur.set_index('Gender')

,Total Purchases,Average Purchase,Average Purchase/person,Total Purchase Value
Gender,,,,
Male,652,3.02,4.07,1967.64
Female,113,3.20,4.47,361.94
Other,15,3.35,4.56,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#combined this info into the next dataframe.

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
bins = [0,18,25,30,40,200]
group_names = ['0-17','18-24','25-29','30-39','40+']
purchase_frame['AgeGroup'] = pd.cut(purchase_frame['Age'], bins, labels = group_names)
agebin_df = purchase_frame

#Sort out age group 0-17
sort_017 = purchase_frame.AgeGroup == '0-17'
sort_017_df = agebin_df[sort_017]

#count totals and find averages and percentages
total_017 = sort_017_df['Price'].sum()
count_017 = sort_017_df['SN'].count()
avg_pur_017 = ((sort_017_df['Price'].sum()) / len(sort_017_df['Price'])).round(2)
age_017_groupby = pd.DataFrame(sort_017_df.groupby(['AgeGroup', 'SN'])['Price'].sum()).reset_index()
avg_pur_per_017 = ((age_017_groupby['Price'].sum()) / len(age_017_groupby['SN'])).round(2)
percent_017 = (100 * (count_017 / total_players)).round(2)


#sort out age group 18-24
sort_1824 = purchase_frame.AgeGroup == '18-24'
sort_1824_df = agebin_df[sort_1824]

#Count totals and find averages and percentages
total_1824 = sort_1824_df['Price'].sum()
count_1824 = sort_1824_df['SN'].count()
avg_pur_1824 = ((sort_1824_df['Price'].sum()) / len(sort_1824_df['Price'])).round(2)
age_1824_groupby = pd.DataFrame(sort_1824_df.groupby(['AgeGroup', 'SN'])['Price'].sum()).reset_index()
avg_pur_per_1824 = ((age_1824_groupby['Price'].sum()) / len(age_1824_groupby['SN'])).round(2)
percent_1824 = (100 * (count_1824 / total_players)).round(2)

#sort out age group 25-29
sort_2529 = purchase_frame.AgeGroup == '25-29'
sort_2529_df = agebin_df[sort_2529]

#Count totals and find averages averages and percentages
total_2529 = sort_2529_df['Price'].sum()
count_2529 = sort_2529_df['SN'].count()
avg_pur_2529 = ((sort_2529_df['Price'].sum()) / len(sort_2529_df['Price'])).round(2)
age_2529_groupby = pd.DataFrame(sort_2529_df.groupby(['AgeGroup', 'SN'])['Price'].sum()).reset_index()
avg_pur_per_2529 = ((age_2529_groupby['Price'].sum()) / len(age_2529_groupby['SN'])).round(2)
percent_2529 = (100 * (count_2529 / total_players)).round(2)

#Sort out age group 30-39
sort_3039 = purchase_frame.AgeGroup == '30-39'
sort_3039_df = agebin_df[sort_3039]

#Count totals and find averages and percentages
total_3039 = sort_3039_df['Price'].sum()
count_3039 = sort_3039_df['SN'].count()
avg_pur_3039 = ((sort_3039_df['Price'].sum()) / len(sort_3039_df['Price'])).round(2)
age_3039_groupby = pd.DataFrame(sort_3039_df.groupby(['AgeGroup', 'SN'])['Price'].sum()).reset_index()
avg_pur_per_3039 = ((age_3039_groupby['Price'].sum()) / len(age_3039_groupby['SN'])).round(2)
percent_3039 = (100 * (count_3039 / total_players)).round(2)

#Sort out age 40 and up
sort_40p = purchase_frame.AgeGroup == '40+'
sort_40p_df = agebin_df[sort_40p]

#Count totals and find averages percentages 
total_40p = sort_40p_df['Price'].sum()
count_40p = sort_40p_df['SN'].count()
avg_pur_40p = ((sort_40p_df['Price'].sum()) / len(sort_40p_df['Price'])).round(2)
age_40p_groupby = pd.DataFrame(sort_40p_df.groupby(['AgeGroup', 'SN'])['Price'].sum()).reset_index()
avg_pur_per_40p = ((age_40p_groupby['Price'].sum()) / len(age_40p_groupby['SN'])).round(2)
percent_40p = (100 * (count_40p / total_players)).round(2)

age_sum_df = pd.DataFrame({
    'Age': ['0-17','18-24','25-29','30-39','40 and up'],
    'Total Purchases': [count_017, count_1824, count_2529, count_3039, count_40p],
    'Age Group %': [percent_017, percent_1824, percent_2529, percent_3039, percent_40p],
    'Avg Purchase': [avg_pur_017, avg_pur_1824, avg_pur_2529, avg_pur_3039, avg_pur_40p],
    'Avg Purchase Per Player': [avg_pur_per_017, avg_pur_per_1824, avg_pur_per_2529, avg_pur_per_3039, avg_pur_per_40p],
    'Total Revenue': [total_017, total_1824, total_2529, total_3039, total_40p]
})

age_sum_df.set_index('Age')

,Total Purchases,Age Group %,Avg Purchase,Avg Purchase Per Player,Total Revenue
Age,,,,,
0-17,164,21.03,3.07,3.90,502.82
18-24,447,57.31,3.06,4.30,1365.94
25-29,77,9.87,2.88,3.75,221.42
30-39,85,10.90,3.15,4.25,268.06
40 and up,7,0.90,3.08,3.08,21.53

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#group whole data set by SN and then sum the price column. 
top_df = pd.DataFrame(purchase_frame.groupby(['SN', 'Gender'])['Price'].sum())
#show in descending order and then only show the first 5 values. 
top5_df = top_df.sort_values('Price', ascending = False).head(5).reset_index()
top5_df.rename(columns = {'SN': 'Top 5 Spenders', 'Price': 'Amount Spent'})

  Top 5 Spenders  Gender  Amount Spent
0      Lisosia93    Male         18.96
1    Idastidru52    Male         15.45
2     Chamjask73  Female         13.83
3         Iral74    Male         13.62
4    Iskadarya95    Male         13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
item_frame = purchase_frame.drop(columns = ['Purchase ID', 'SN', 'Age', 'Gender', 'AgeGroup'])
item_count_df = pd.DataFrame(item_frame.groupby(['Item Name', 'Price'])['Item ID'].count().reset_index())
summ_popitem_count = item_count_df.rename(columns = {'Item Name': 'Most Popular Items','Item ID': 'Frequency of Purchase'})
summ_popitem_count.sort_values('Frequency of Purchase', ascending = False).head(5)

,Most Popular Items,Price,Frequency of Purchase
95,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12
52,"Extraction, Quickblade Of Trembling Hands",3.53,9
94,Nirvana,4.90,9
56,Fiery Glass Crusader,4.58,9
108,"Pursuit, Cudgel of Necromancy",1.02,8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
summ_profit_count = summ_popitem_count.rename(columns = {'Most Popular Items': 'Top Profitable Items'})
summ_profit_count.sort_values('Price', ascending = False).head(5)

                  Top Profitable Items  Price  Frequency of Purchase
144                     Stormfury Mace   4.99                      2
90             Mercy, Katana of Dismay   4.94                      5
78   Hellreaver, Heirloom of Inception   4.93                      3
143                Stormfury Longsword   4.93                      2
15       Blazeguard, Reach of Eternity   4.91                      5